/* Conteneurs */

html,
body,
header,
main,
footer,
ul,
nav,
.logo,
.menu,
.recherche,
.resultats,
.nav,
.recherche-sous-titre,
.champ-recherche,
.nombre-resultats,
.resultats-row,
.colonne-footer,
.champ,
.filtres,
.hebergements,
.promotions,
.activites,
.sous-titre,
.contenu,
.vignette-row,
.vignette {
  display: flex;
}

/* Conteneurs en colonne */

body,
main,
.resultats,
.menu,
.recherche,
.champ-recherche,
.recherche-sous-titre,
.hebergements,
.promotions,
.activites,
.contenu,
.vignette--verticale,
.colonne-footer,
.colonne-footer > ul {
  flex-direction: column;
}

/* Valeurs flex standards */

/* flex: 1 1 0 */
body,
main,
header,
footer,
.menu,
.menu > ul,
footer > nav,
.colonne-footer,
.colonne-footer > *,
.recherche-sous-titre,
.resultats-row,
.promotions,
.activites {
  flex: 1;
}

/* flex: 1 1 auto */
.champ input[type="search"],
.recherche {
  flex: auto;
}

/*
flex: 0 1 auto
{
  flex: initial;
}
*/

/*
flex: 0 0 auto
{
  flex: none;
}
*/

/* Disposition des elements */

/* Centrage */
main,
header,
.menu > ul,
footer > nav,
.colonne-footer,
.champ,
.filtres,
.filtres > *,
.nombre-resultats,
.contenu,
.sous-titre {
  align-items: center;
}

footer > nav,
.colonne-footer > ul,
.champ,
.filtres > *,
.nombre-resultats {
  justify-content: flex-start;
}
