.footer-nav {
  background-color: #f2f2f2;
  padding: 1rem 5rem;
  min-height: 25vh;
  margin-top: 1rem;
}

.colonne-footer {
  justify-content: space-evenly;
  padding: .5rem 0;
}

.colonne-footer-item {
  flex: auto;
}