.footer {
  justify-content: space-evenly;
}

footer > nav {
  background-color: #f2f2f2;
  padding: 1rem 5rem;
  min-height: 25vh;
}

.colonne-footer {
  justify-content: space-evenly;
  flex: auto;
}

.colonne-footer-item {
  flex: auto;
}