.footer {
  margin-top: 1rem;
}

.footer-nav {
  background-color: #f2f2f2;
}

.colonne-footer {
  justify-content: space-evenly;
  padding: .5rem 0;
  height: fit-content;
}

.colonne-footer-item {
  flex: auto;
}

@media screen and (min-width: 991px) {
  .footer-nav {
    padding: 1rem 5rem;
    margin-top: 1rem;
  }
}