header {
    align-items: center;
    justify-content: space-between;
  }
  
  .logo {
    flex: 2;
  }
  
  .menu {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .menu ul {
    display: flex;
    justify-content: space-around;
    flex: 1 1 0;
  }
  
  .menu li {
    display: inline-flex;
    border-top: 2px solid transparent;
    padding-top: 20px;
  }
  
  .menu li:hover {
    border-top-color: blue;
  }