/* Positionnement */
.header {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width: 100% ;
}

.logo {
  flex: 5;
  padding-left: 1rem;
}

.menu-wrapper {
  align-items: center;
  justify-content: flex-end;
  height: 100%;
}

.menu {
  justify-content: space-evenly;
  align-items: center;
  height: 100%;

}

.menu-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0 1rem;
}

/* .menu-wrapper .inscription {
  flex: none;
} */

/* Apparence */
.navigation-item {
  border: 2px solid transparent;
  height: 100%;
}

.inscription-item {
  color: #0065FC;
  font-weight: bold;
}
