body {
  min-height: 100vh;
}

header,
main {
  padding: 0 4rem;
}

header,
footer {
  flex: auto;
}

.fit-cover {
  width: 100%;
  object-fit: cover;
}

.titre {
  font-weight: bold;
  font-size: 1.2rem;
}