body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 5px;
    padding: 0 5px;
  }
  
header, main, footer {
    display: flex;
    flex: 1;
  }

header {
  height: 10vh;
  width: 100%;
}

footer {
  flex: 1;
  height: 20vh;
  width: 100vw;
  padding: 0;
  margin: 0;
}

main {
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  height: 100vh;
  width: 100%;
}