/* html {
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;
  align-items: stretch;
} */

 body {
  min-height: 100vh;
}

header,
main {
  padding: 0 25px 0 25px;
}

header {
  max-height: 80px;
}

footer {
  max-height: 80px;
}

img {
  max-width: 100%;
  /* Construction */
  height: 80px;
  width: 160px;
}

.fit-cover {
  object-fit: cover;
}
