.recherche-wrapper {
  flex: auto;
  height: 20vh;
}

.recherche .titre-wrapper {
  justify-content: space-evenly;
}

.filtres-wrapper {
  flex: auto;
  align-items: center;
}

.champ-recherche-wrapper {
  flex: auto;
  justify-content: space-evenly;
}

.champ-icone {
  background-color: #f2f2f2;
}

 /* .recherche > .titre {
    justify-content: space-around;
  }

  .titre {
    font-weight: bolder;
  }
  
  .champ-icone {
    background-color: #f2f2f2;
    min-width: 25px;
  }

  .champ input[type="search"] {
    flex: 0 1 20%;
    min-width: 100px;
  }
  
  .champ > button {
    flex: 0 1 15%;
    min-width: 100px;
  }
   */

  /* .filtres-wrapper {
    flex: 1;
    justify-content: space-around;
    align-items: center;
  }

  .filtres-wrapper > .titre {
    flex: 1 1;
    align-self: center;
  }
  
  .filtres {
    flex: auto;
  }

  .filtre-item {
    flex-wrap: nowrap;
  } */

  .filtre-icone {
    color: blue;
    
  }
  
  .nombre-resultats {
    display: inline-flex;
    flex: 0 0 40%;
    align-items: center;
  }
  
  /* Cercle autour du point d'exclamation */
  .nombre-resultats-icone {
    width: 1em;
    height: 1em;
    border: 1.5px solid #F2F2F2;
    border-radius: 50%;
    padding: .5rem;
    margin: .5rem;
    color: blue;
    font-weight: 500;
  }