.hebergements,
.promotions,
.activites {
  padding: 25px;
  margin: 25px;
  border-radius: 25px;
}

.hebergements,
.promotions {
  background-color: #f2f2f2;
}

.resultats-row {
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
}

.hebergements {
  flex: 3;
}

.contenu {
  justify-content: space-around;
}

.activites .contenu {
  flex-direction: row;
}

.sous-titre {
  justify-content: space-between;
}
