.vignette-row {
  justify-content: space-between;
}

.vignette {
  padding: .5rem;
  margin: 1rem;
  border-radius: .75rem;
  background-color: white;
}

.vignette-row {
  padding: 0 0 1rem 0;
}
@media screen and (min-width: 800px) {
  .hebergements .vignette-image {
    height: 145px;
    width: 200px;
  }
}

.vignette-verticale .vignette-image {
  border-radius: .75rem .75rem 0 0;
}

.promotions .vignette-image {
  border-radius: .75rem 0 0 .75rem;
  height: 135px;
  width: 145px;
}

.promotions .vignette-description {
  padding: 0 .25rem;
  margin: 0 .25rem;
  justify-content: space-between;
}

.vignette-verticale .vignette-description {
  padding: .25rem 0;
  margin: .25rem 0;
}

.notation-icone {
  color: #0065fc;
}

.notation-negatif {
  color: #f2f2f2;
}

/* Pour titre vignettes */
.vignette-description :not(p) {
  font-weight: bold;
}
