.vignette-row {
    justify-content: space-between;
    align-items: center;
    min-width: max-content;
}



.vignette {
    padding: .25em;
    margin: .25em;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: max-content;
    min-height: max-content;
}

.vignette > img {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.vignette-description {
    padding: .25em;
    margin: .25em;
}

.notation {
    color: blue;
}

.negatif {
    color: #f2f2f2;
}

.vignette--verticale > img {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 0;
}

.vignette-description > h3,
.vignette-description > p > strong {
    font-weight: bold;
}