/* Page */
* {
  box-sizing: border-box;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

header, main, footer {
  display: flex;
}

/* Page : éléments */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 2;
}

header .menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header .menu ul {
  display: flex;
  justify-content: space-around;
  flex: 1 1 0;
}

header .menu li {
  display: inline-flex;
  border-top: 2px solid transparent;
  padding-top: 20px;
}

header .menu li:hover {
  border-top-color: blue;
}

/* main */
main {
  flex-direction: column;
}

/* main .recherche */
.recherche {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.recherche > * {
  flex: 1 1 100%;
}

.recherche .champ {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 40%;
}

.fa-map-marker-alt {
  flex: 1;
  background-color: #f2f2f2;
}


.recherche .champ input[type="search"] {
  flex: 4;
}

.recherche .champ button {
  flex: 3;
}

.recherche .filtres {
  display: flex;
  align-items: center;
}

.recherche .filtres > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.recherche .filtres h3 {
  flex: 0 0 10%;
}

.recherche .filtres ul {
  flex: 1 1 30%;
}

.recherche .nombre-resultats {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 40%;
}

/* Cercle autour du point d'exclamation */
.recherche .nombre-resultats .fa-info {
  width: 1rem;
  height: 1rem;
  border: 1px solid black;
  border-radius: 50%;
  padding: .2rem;
  margin: .2rem;
}

/* main .resultats */
.resultats .row {
  display: flex;
}
.resultats .hebergements {
  flex: 3;
}

.resultats .promotions {
  flex: 1;
}

.resultats .promotions .sous-titre {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.resultats .promotions .sous-titre h3 {
  flex: 9;
}

.resultats .promotions .sous-titre .fa-chart-line {
  flex: 1;
}

.resultats .activites {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
}

/* footer */
footer nav {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}