/* Page */
* {
  box-sizing: border-box;
  padding-inline-start: 0;
}

body {
  display: flex;
  flex-direction: column;
  padding: 1%;
}

header, main, footer {
  display: flex;
}

/* Page : éléments */
li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* header */
header {
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 2;
}

header .menu {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header .menu ul {
  display: inline-flex;
  justify-content: space-around;
}

header .menu li {
  align-items: center;
  border-top: 2px hidden blue;
}

header .menu li:hover {
  border-top-style: solid;
}

/* main */
main {
  flex-direction: column;
}

/* main .recherche */
.recherche {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.recherche > * {
  flex: 1 1 100%;
}

.recherche .champ {
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  flex: 0 0 40%;
}

.recherche .champ > * {
  height: 2rem;
}

.fa-map-marker-alt {
  flex: 1;
  background-color: #f2f2f2;
}

.recherche .champ input[type="search"] {
  flex: 4;
}

.recherche .champ input[type="submit"] {
  flex: 3;
}

.recherche .filtres {
  display: flex;
  align-items: center;
}

.recherche .filtres > * {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.recherche .filtres h3 {
  flex: 0 0 10%;
}

.recherche .filtres ul {
  flex: 1 1 30%;
}

.recherche .fa-info {
  border: 1px solid black;
  border-radius: 2em;
}

/* main .resultats */
.resultats .row {
  display: flex;
}
.resultats .hebergements {
  border: 2px dotted black;
  flex: 3;
}

.resultats .promotions {
  border: 2px dotted black;
  flex: 1;
}

.resultats .activites {
  border: 2px dotted black;
  display: flex;
}

.resultats .activites {
  border: 2px dotted black;
  flex: 100%;
  flex-wrap: wrap;
}

/* footer */
footer nav {
  display: flex;
  flex: 1;
  justify-content: space-around;
}

footer ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}