html, body {
	font-family: "Raleway", "Open-sans", sans-serif;
	padding: 0 3% 0 3%;
}

/* Mise en page de tous les elements */
.page {
	display: flex;
	flex-direction: row;
}

header {
 	display: flex;
	justify-content: space-between;
}

.recherche {
	display: flex;
	justify-content: flex-start;
}

.hebergements {
	display: flex;
	justify-content: space-between;
}

/* Mise en place à l'intérieur des elements */

/* Titre */
.titre p {
	font-style: italic;
}

/* Menu */
#menu {
	display: flex;
	justify-content: space-between;
}

ul li {
	display: flex;
	justify-content: space-between;
	padding: 1px;
	margin: 1px;
}

/* Hebergements */

/* Activités */
.activites ul {
	display: flex;
	justify-content: space-between;
}